<% layout("/layouts/boilerplate") %>

  <body>
    <h3>Create a New Listing</h3>
    <div class="row ">
      <div class=" offset-4  col-md-4 ">
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-2">
        <label for="title" class="form-label"  >Title</label>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required />
        <div class="valid-feedback">title looks good</div>
      </div>

      <div class="mb-2 " >
        <label for="discription" class="form-label">Discription</label>
        <textarea name="listing[description]" rows="6" placeholder="enter description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter valid description</div>
      </div>

      <div class="mb-2">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" placeholder="enter image URL/Link" type="file" class="form-control" required />
      </div>


      <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="enter price" type="text" class="form-control" required />
        <div class="invalid-feedback">Price should be valid</div>
      </div>


      <div class="mb-2">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required />
        <div class="invalid-feedback">Please enter the country name</div>
      </div>


      <div class="mb-2">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required/>
        <div class="invalid-feedback">please enter correct location</div>
      </div>
      <button class="btn btn-dark">Add</button>
    </form>
  </div>
  </div>
  </body>